.navigation {
    height: 100px;
    padding: 16px;
    z-index: 999;

    &__logo {
        display: block;
        height: 100%;
        width: auto;
    }

    &__list {
        width: 100%;
        gap: 16px;
        display: flex;
        align-items: center;
        list-style: none;
        height: 100%;
    }

    &__link {
        display: inline-block;
        height: 100%;
        color: black;
        text-decoration: none;
    }

    &__item {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__button {
        background: none;
        border: none;
        cursor: pointer;
    }
}