$defaultBackgroundColor: black;
$defaultTextColor: white;
$googleBackgroundColor: #118AB2;


.button {
    height: 50px;
    width: 200px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: $defaultBackgroundColor;
    color: $defaultTextColor;
    transition: color .5s ease, background-color .7s ease;

    &:hover {
        cursor: pointer;
        background-color: $defaultTextColor;
        color: $defaultBackgroundColor
    }

    &--inverted {
        background-color: $defaultTextColor;
        color: $defaultBackgroundColor;

        &:hover {
            background-color: $defaultBackgroundColor;
            color: $defaultTextColor;
        }
    }

    &--google {
        background-color: $googleBackgroundColor;
        border-color: $googleBackgroundColor;
    }
}