.cart-dropdown {
    display: grid;
    grid-template-rows: 1fr 50px;
    gap: 16px;
    padding: 16px;
    height: 400px;
    width: 300px;
    border: 1px solid black;
    background: #FFF;
    border-radius: 8px;
    position: absolute;
    top: 100px;
    right: 64px;
    z-index: 999;
    overflow-y: scroll;

    &__button {
        width: 100% !important;
    }

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }
}