.category-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 32px;

    &__products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 32px;
    }
}